/* 모든 태그들 */
*{
    padding: 0px;
    margin: 0px;
}

/* 바디 */
body{
    background-color: #C4DEFF		;
}

/* 유저 아이콘, 티어 아이콘 */
.SearchUserData_TierImg , .SearchUserData_userIconImg{
    width: 80px;
    height: 80px;
    border-radius: 15px;
}

/* 모든걸 묶고있는 컨테이너 */
.SearchUserData_Container{
    max-width: 1440px;
    border: #1d59a7 1px solid;
    padding: 10px;
    margin: 0 auto;
}

/* 유저의 정보 컨테이너 */
.SearchUserData_UserInfoContainer{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* 유저의 정보의 헤더 */
.SearchUserData_UserInfoHeader{
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* 유저의 정보의 내용 */
.SearchUserData_UserInfo{
    display: flex;
    flex-direction: column;
}

/* 유저의 정보의 내용의 텍스트 */
.SearchUserData_UserInfo h1{
    margin: 0;
}

/* 유저의 티어 컨테이너 */
.SearchUserData_UserTierInfoContainer{
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 20px auto;
    background-color: #dee4ec;
    border: #1d59a7 1px solid;

}

.SearchUserData_SoloTierInfo{
    width: 50%;
    margin:0 40px;
    border-right: #1d59a7 1px solid;
}

.SearchUserData_FreeTierInfo{
    width: 50%;
    margin: 0 40px;
}

/* 유저의 티어 정보 */
.SearchUserData_UserTierInfo{
    margin: 10px;
}

/* 유저의 티어 정보의 모든 얘들 */
.SearchUserData_UserTierInfo *{
    margin: 0;
}

/* 검색한유저가 없을을경우 */
.SearchUserData_NoneUser{
    text-align: center;
}

/* 정보 로딩  */
.SearchUserData_Loading{
    text-align: center;
}

/* 검색한 유저의 경기정보 컨테이너 */
.SearchUserData_MatchContainer{
    width: 100%;
    max-width: 1200px;
    min-width: 200px;
    margin: 0 auto;
}

/* 검색한 유저의 경기정보 */
.SearchUserData_MatchContainer{
    width: 100%;
    border: 1px solid black;
}

.SearchUserData_Match{
    padding: 10px;
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
}
.UserMatchData_matchInfo{
    margin-right: 20px;
}

.UserMatchData_userPlayChampionImg{
    width: 70px;
    border-radius: 100%;
}